Modules/DCM/Metadata/soil/SoilSample2021v6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://tempuri.org/XMLSchema.xsdd"
		elementFormDefault="qualified"
		xmlns="http://tempuri.org/XMLSchema.xsdd"
		xmlns:mstns="http://tempuri.org/XMLSchema.xsdd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
<xsd:element name="Metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Contact" type="personType">
					<xsd:annotation>
						<xsd:documentation>Contact of the sample </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Ownership" type="ownershipType" />
				<xsd:element name="SampleLocation" type="sampleLocationType" />
				<xsd:element name="SampleType" type="soilSampleType" >
					<xsd:annotation>
						<xsd:documentation>Soil</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Archive" type="archivedType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
</xsd:element>

<xsd:complexType name="ownershipType">
	<xsd:sequence>
		<xsd:element name="Owner" type="ownerType" maxOccurs="unbounded">
			<xsd:annotation>
			<xsd:documentation>The owner of the sample.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Organisation" type="organisationType" minOccurs="0" />
		<xsd:element name="Institute" type="instituteType" minOccurs="0" />
		<xsd:element name="Project" type="projectType" minOccurs="0" />
	</xsd:sequence>
</xsd:complexType>
 
<xsd:complexType name="soilSampleType">
	<xsd:sequence>
    <xsd:element name="Name" type="xsd:string" />
    <xsd:element name="Type" type="type" minOccurs="0" />
    <xsd:element name="SamplingType" type="soilSamplingType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>How the soil sample was taken?</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="SampleType" type="soilElementType" maxOccurs="unbounded" minOccurs="1" />
		<xsd:element name="Description" type="xsd:string" minOccurs="0" />
		<xsd:element name="Comments" type="xsd:string" minOccurs="0" />
    <xsd:element name="Sieved" type="xsd:boolean" minOccurs="0"/>
    <xsd:element name="Ground" type="xsd:boolean" minOccurs="0"/>
		<xsd:element name="AirDried" type="xsd:boolean" minOccurs="0"/>
		<xsd:element name="DriedAtTemperature" type="xsd:double" minOccurs="0"/>
		<xsd:element name="SamplingDate" type="xsd:dateTime" minOccurs="0" />
		<xsd:element name="Vegetation" type="xsd:string" minOccurs="0"/>
		<xsd:element name="Status" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Enter the state of the sample here.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="MixedSample" type="xsd:boolean" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Put a check if the sample is not a single sample.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="PitSize" type="xsd:double" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>in Cubic Meter</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="TotalDepth" type="xsd:double" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>in Meter</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="DepthRange" type="depthRangeType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>in Centimeter</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Weight" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>in Gramm</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Soil" type="soilType2" minOccurs="0" maxOccurs="1" />
		
	</xsd:sequence>
</xsd:complexType>


<!--*************************************************-->
<!-- Complex Types-->
<!--*************************************************-->
<!-- Base -->
<!--*************************************************-->
<xsd:complexType name="personType" >
		<xsd:sequence>
			<xsd:element name="Name"  type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of a person.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Email" type="email" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Phone" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Phone of a person.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
</xsd:complexType>

	<xsd:complexType name="contactType" >
		<xsd:sequence>
			<xsd:element name="Name"  type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The name of the dataset Manager. This should be the PI of your project.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Email" type="email" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Official email address of the PI.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Phone" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Official phone number of the PI.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ownerType" >
	<xsd:sequence>
		<xsd:element name="Name"  type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Name of a person.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Email" type="email" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation></xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Phone" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Phone of a person.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType>

<xsd:complexType name="instituteType">
		<xsd:sequence>
			<xsd:element name="Name"  type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of the institute.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Abbreviation"  type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A Abbreviation of the institute.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="URL" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>URL to the mainpage of the insitute.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Address" type="addressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Location information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="organisationType">
	<xsd:sequence>
		<xsd:element name="Name"  type="xsd:string">
			<xsd:annotation>
				<xsd:documentation></xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Abbreviation"  type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation></xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="URL"  type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation></xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Address" type="addressType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Location information</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="projectType">
	<xsd:sequence>
		<xsd:element name="Name"  type="xsd:string">
			<xsd:annotation>
				<xsd:documentation></xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Acronym"  type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation></xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Funder"  type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation></xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

	<xsd:complexType name="addressType">
	<xsd:sequence>
		<xsd:element name="Street"  type="xsd:string"/>
		<xsd:element name="Zipcode"  type="xsd:string"/>
		<xsd:element name="City"  type="xsd:string"/>
		<xsd:element name="Country"  type="countryType"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="archivedType">
	<xsd:sequence>
		<xsd:element name="SampleIsArchived" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>The sample is archived?</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Room" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>The room, where the sample is archived.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Rack" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation>The rack, where the sample is archived.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Box" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation>The box, where the sample is archived.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<!--*************************************************-->
<!-- Sample -->
<!--*************************************************-->



<xsd:complexType name="soilType2">
	<xsd:sequence>
		<xsd:element name="OrganicLayer" type="organicLayerType" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="MineralSoil" type="mineralSoilType" minOccurs="0"  maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>
	
<xsd:complexType name="mineralLayerType">
	<xsd:sequence>
		<xsd:element name="Ground" type="xsd:boolean" minOccurs="0"/>
		<xsd:element name="Horizon" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Description</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Volume" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>in Cubic Meter</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="mineralSoilType">
	<xsd:sequence>
    <xsd:element name="DepthInterval" type="xsd:int" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>In Centimeter</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="Layer" type="mineralLayerType" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="depthRangeType">
	<xsd:sequence>
    <xsd:element name="Min" type="xsd:int" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>in Centimeter</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="Max" type="xsd:int"  minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>in Centimeter</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="organicLayerType">
	<xsd:sequence>
		<xsd:element name="Information" type="xsd:string" minOccurs="0" />
		<xsd:element name="OrganicLayerType" type="organicLayerElementType" minOccurs="0" />
		<xsd:element name="Density" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>in g/cm**3</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

	<!--*************************************************-->
<!-- Location -->
<!--*************************************************-->

	<xsd:complexType name="sampleLocationType">
		<xsd:sequence>
			<xsd:element name="Site" type="siteType" minOccurs="0"/>
			<xsd:element name="Plot" type="plotType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="siteType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Abbreviation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BoundingBox" type="boundingBoxType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="plotType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Abbreviation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GroundwaterDepth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Vegetation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Coordinates" type="coordinatesType" minOccurs="0"/>
			<xsd:element name="BoundingBox" type="boundingBoxType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="coordinatesType">
		<xsd:sequence>
			<xsd:element name="Longtitude" type="xsd:string"/>
			<xsd:element name="Laditude" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="boundingBoxType">
		<xsd:sequence>
			<xsd:element name="EasternLongtiude" type="xsd:string" minOccurs="0"/>
			<xsd:element name="WesternLongtiude" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NorthernLaditude" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SouthernLaditude" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

<!--*************************************************-->
<!-- SIMPLE TYPES -->
<!--*************************************************-->
<xsd:simpleType name="email">
		<xsd:annotation>
			<xsd:documentation>
				Email address
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([a-zA-Z0-9_\-])([a-zA-Z0-9_\-\.]*)@(\[((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}|((([a-zA-Z0-9\-]+)\.)+))([a-zA-Z]{2,}|(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\])"/>
		</xsd:restriction>
</xsd:simpleType>


	<xsd:simpleType name="soilSamplingType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Profil"/>
			<xsd:enumeration value="Core"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="soilSamplingType2">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MineralSoil"/>
			<xsd:enumeration value="OrganicLayer"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="sampleElementType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Mineral soil" />
		<xsd:enumeration value="Organic layer" />
		<xsd:enumeration value="Litter fall" />
		<xsd:enumeration value="Litter bags" />
		<xsd:enumeration value="Living" />
		<xsd:enumeration value="Leaf" />
		<xsd:enumeration value="Bough" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="type">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Soil" />
	</xsd:restriction>
</xsd:simpleType>
	
<xsd:simpleType name="soilElementType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Mineral soil" />
		<xsd:enumeration value="Organic layer" />
		<xsd:enumeration value="Litter fall" />
		<xsd:enumeration value="Litter bags" />
		<xsd:enumeration value="Living" />
		<xsd:enumeration value="Leaf" />
		<xsd:enumeration value="Bough" />
	</xsd:restriction>
</xsd:simpleType>
	
<xsd:simpleType name="organicLayerElementType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Ah" />
		<xsd:enumeration value="Of" />
		<xsd:enumeration value="Oh" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="countryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Afghanistan"/>
			<xsd:enumeration value="Akrotiri"/>
			<xsd:enumeration value="Albania"/>
			<xsd:enumeration value="Algeria"/>
			<xsd:enumeration value="American Samoa"/>
			<xsd:enumeration value="Andorra"/>
			<xsd:enumeration value="Angola"/>
			<xsd:enumeration value="Anguilla"/>
			<xsd:enumeration value="Antarctica"/>
			<xsd:enumeration value="Antigua and Barbuda"/>
			<xsd:enumeration value="Argentina"/>
			<xsd:enumeration value="Armenia"/>
			<xsd:enumeration value="Aruba"/>
			<xsd:enumeration value="Ashmore and Cartier Islands"/>
			<xsd:enumeration value="Australia"/>
			<xsd:enumeration value="Austria"/>
			<xsd:enumeration value="Azerbaijan"/>
			<xsd:enumeration value="Bahamas, The"/>
			<xsd:enumeration value="Bahrain"/>
			<xsd:enumeration value="Bangladesh"/>
			<xsd:enumeration value="Barbados"/>
			<xsd:enumeration value="Bassas da India"/>
			<xsd:enumeration value="Belarus"/>
			<xsd:enumeration value="Belgium"/>
			<xsd:enumeration value="Belize"/>
			<xsd:enumeration value="Benin"/>
			<xsd:enumeration value="Bermuda"/>
			<xsd:enumeration value="Bhutan"/>
			<xsd:enumeration value="Bolivia"/>
			<xsd:enumeration value="Bosnia and Herzegovina"/>
			<xsd:enumeration value="Botswana"/>
			<xsd:enumeration value="Bouvet Island"/>
			<xsd:enumeration value="Brazil"/>
			<xsd:enumeration value="British Indian Ocean Territory"/>
			<xsd:enumeration value="British Virgin Islands"/>
			<xsd:enumeration value="Brunei"/>
			<xsd:enumeration value="Bulgaria"/>
			<xsd:enumeration value="Burkina Faso"/>
			<xsd:enumeration value="Burma"/>
			<xsd:enumeration value="Burundi"/>
			<xsd:enumeration value="Cambodia"/>
			<xsd:enumeration value="Cameroon"/>
			<xsd:enumeration value="Canada"/>
			<xsd:enumeration value="Cape Verde"/>
			<xsd:enumeration value="Cayman Islands"/>
			<xsd:enumeration value="Central African Republic"/>
			<xsd:enumeration value="Chad"/>
			<xsd:enumeration value="Chile"/>
			<xsd:enumeration value="China"/>
			<xsd:enumeration value="Christmas Island"/>
			<xsd:enumeration value="Clipperton Island"/>
			<xsd:enumeration value="Cocos (Keeling) Islands"/>
			<xsd:enumeration value="Colombia"/>
			<xsd:enumeration value="Comoros"/>
			<xsd:enumeration value="Congo, Democratic Republic of the"/>
			<xsd:enumeration value="Congo, Republic of the"/>
			<xsd:enumeration value="Cook Islands"/>
			<xsd:enumeration value="Coral Sea Islands"/>
			<xsd:enumeration value="Costa Rica"/>
			<xsd:enumeration value="Cote d'Ivoire"/>
			<xsd:enumeration value="Croatia"/>
			<xsd:enumeration value="Cuba"/>
			<xsd:enumeration value="Cyprus"/>
			<xsd:enumeration value="Czech Republic"/>
			<xsd:enumeration value="Denmark"/>
			<xsd:enumeration value="Dhekelia"/>
			<xsd:enumeration value="Djibouti"/>
			<xsd:enumeration value="Dominica"/>
			<xsd:enumeration value="Dominican Republic"/>
			<xsd:enumeration value="Ecuador"/>
			<xsd:enumeration value="Egypt"/>
			<xsd:enumeration value="El Salvador"/>
			<xsd:enumeration value="Equatorial Guinea"/>
			<xsd:enumeration value="Eritrea"/>
			<xsd:enumeration value="Estonia"/>
			<xsd:enumeration value="Ethiopia"/>
			<xsd:enumeration value="Europa Island"/>
			<xsd:enumeration value="Falkland Islands (Islas Malvinas)"/>
			<xsd:enumeration value="Faroe Islands"/>
			<xsd:enumeration value="Fiji"/>
			<xsd:enumeration value="Finland"/>
			<xsd:enumeration value="France"/>
			<xsd:enumeration value="French Guiana"/>
			<xsd:enumeration value="French Polynesia"/>
			<xsd:enumeration value="French Southern and Antarctic Lands"/>
			<xsd:enumeration value="Gabon"/>
			<xsd:enumeration value="Gambia, The"/>
			<xsd:enumeration value="Gaza Strip"/>
			<xsd:enumeration value="Georgia"/>
			<xsd:enumeration value="Germany"/>
			<xsd:enumeration value="Ghana"/>
			<xsd:enumeration value="Gibraltar"/>
			<xsd:enumeration value="Glorioso Islands"/>
			<xsd:enumeration value="Greece"/>
			<xsd:enumeration value="Greenland"/>
			<xsd:enumeration value="Grenada"/>
			<xsd:enumeration value="Guadeloupe"/>
			<xsd:enumeration value="Guam"/>
			<xsd:enumeration value="Guatemala"/>
			<xsd:enumeration value="Guernsey"/>
			<xsd:enumeration value="Guinea"/>
			<xsd:enumeration value="Guinea-Bissau"/>
			<xsd:enumeration value="Guyana"/>
			<xsd:enumeration value="Haiti"/>
			<xsd:enumeration value="Heard Island and McDonald Islands"/>
			<xsd:enumeration value="Holy See (Vatican City)"/>
			<xsd:enumeration value="Honduras"/>
			<xsd:enumeration value="Hong Kong"/>
			<xsd:enumeration value="Hungary"/>
			<xsd:enumeration value="Iceland"/>
			<xsd:enumeration value="India"/>
			<xsd:enumeration value="Indonesia"/>
			<xsd:enumeration value="Iran"/>
			<xsd:enumeration value="Iraq"/>
			<xsd:enumeration value="Ireland"/>
			<xsd:enumeration value="Isle of Man"/>
			<xsd:enumeration value="Israel"/>
			<xsd:enumeration value="Italy"/>
			<xsd:enumeration value="Jamaica"/>
			<xsd:enumeration value="Jan Mayen"/>
			<xsd:enumeration value="Japan"/>
			<xsd:enumeration value="Jersey"/>
			<xsd:enumeration value="Jordan"/>
			<xsd:enumeration value="Juan de Nova Island"/>
			<xsd:enumeration value="Kazakhstan"/>
			<xsd:enumeration value="Kenya"/>
			<xsd:enumeration value="Kiribati"/>
			<xsd:enumeration value="Korea, North"/>
			<xsd:enumeration value="Korea, South"/>
			<xsd:enumeration value="Kuwait"/>
			<xsd:enumeration value="Kyrgyzstan"/>
			<xsd:enumeration value="Laos"/>
			<xsd:enumeration value="Latvia"/>
			<xsd:enumeration value="Lebanon"/>
			<xsd:enumeration value="Lesotho"/>
			<xsd:enumeration value="Liberia"/>
			<xsd:enumeration value="Libya"/>
			<xsd:enumeration value="Liechtenstein"/>
			<xsd:enumeration value="Lithuania"/>
			<xsd:enumeration value="Luxembourg"/>
			<xsd:enumeration value="Macau"/>
			<xsd:enumeration value="Macedonia"/>
			<xsd:enumeration value="Madagascar"/>
			<xsd:enumeration value="Malawi"/>
			<xsd:enumeration value="Malaysia"/>
			<xsd:enumeration value="Maldives"/>
			<xsd:enumeration value="Mali"/>
			<xsd:enumeration value="Malta"/>
			<xsd:enumeration value="Marshall Islands"/>
			<xsd:enumeration value="Martinique"/>
			<xsd:enumeration value="Mauritania"/>
			<xsd:enumeration value="Mauritius"/>
			<xsd:enumeration value="Mayotte"/>
			<xsd:enumeration value="Mexico"/>
			<xsd:enumeration value="Micronesia, Federated States of"/>
			<xsd:enumeration value="Moldova"/>
			<xsd:enumeration value="Monaco"/>
			<xsd:enumeration value="Mongolia"/>
			<xsd:enumeration value="Montserrat"/>
			<xsd:enumeration value="Morocco"/>
			<xsd:enumeration value="Mozambique"/>
			<xsd:enumeration value="Namibia"/>
			<xsd:enumeration value="Nauru"/>
			<xsd:enumeration value="Navassa Island"/>
			<xsd:enumeration value="Nepal"/>
			<xsd:enumeration value="Netherlands"/>
			<xsd:enumeration value="Netherlands Antilles"/>
			<xsd:enumeration value="New Caledonia"/>
			<xsd:enumeration value="New Zealand"/>
			<xsd:enumeration value="Nicaragua"/>
			<xsd:enumeration value="Niger"/>
			<xsd:enumeration value="Nigeria"/>
			<xsd:enumeration value="Niue"/>
			<xsd:enumeration value="Norfolk Island"/>
			<xsd:enumeration value="Northern Mariana Islands"/>
			<xsd:enumeration value="Norway"/>
			<xsd:enumeration value="Oman"/>
			<xsd:enumeration value="Pakistan"/>
			<xsd:enumeration value="Palau"/>
			<xsd:enumeration value="Panama"/>
			<xsd:enumeration value="Papua New Guinea"/>
			<xsd:enumeration value="Paracel Islands"/>
			<xsd:enumeration value="Paraguay"/>
			<xsd:enumeration value="Peru"/>
			<xsd:enumeration value="Philippines"/>
			<xsd:enumeration value="Pitcairn Islands"/>
			<xsd:enumeration value="Poland"/>
			<xsd:enumeration value="Portugal"/>
			<xsd:enumeration value="Puerto Rico"/>
			<xsd:enumeration value="Qatar"/>
			<xsd:enumeration value="Reunion"/>
			<xsd:enumeration value="Romania"/>
			<xsd:enumeration value="Russia"/>
			<xsd:enumeration value="Rwanda"/>
			<xsd:enumeration value="Saint Helena"/>
			<xsd:enumeration value="Saint Kitts and Nevis"/>
			<xsd:enumeration value="Saint Lucia"/>
			<xsd:enumeration value="Saint Pierre and Miquelon"/>
			<xsd:enumeration value="Saint Vincent and the Grenadines"/>
			<xsd:enumeration value="Samoa"/>                                       
			<xsd:enumeration value="San Marino"/>                                  
			<xsd:enumeration value="Sao Tome and Principe"/>                       
			<xsd:enumeration value="Saudi Arabia"/>                                
			<xsd:enumeration value="Senegal"/>                                     
			<xsd:enumeration value="Serbia and Montenegro"/>                       
			<xsd:enumeration value="Seychelles"/>                                  
			<xsd:enumeration value="Sierra Leone"/>                                
			<xsd:enumeration value="Singapore"/>                                   
			<xsd:enumeration value="Slovakia"/>                                  
			<xsd:enumeration value="Slovenia"/>                                    
			<xsd:enumeration value="Solomon Islands"/>                             
			<xsd:enumeration value="Somalia"/>                                     
			<xsd:enumeration value="South Africa"/>
			<xsd:enumeration value="South Georgia and the South Sandwich Islands"/>
			<xsd:enumeration value="Spain"/>
			<xsd:enumeration value="Spratly Islands"/>
			<xsd:enumeration value="Sri Lanka"/>
			<xsd:enumeration value="Sudan"/>
			<xsd:enumeration value="Suriname"/>
			<xsd:enumeration value="Svalbard"/>
			<xsd:enumeration value="Swaziland"/>
			<xsd:enumeration value="Sweden"/>
			<xsd:enumeration value="Switzerland"/>
			<xsd:enumeration value="Syria"/>
			<xsd:enumeration value="Taiwan"/>
			<xsd:enumeration value="Tajikistan"/>
			<xsd:enumeration value="Tanzania"/>
			<xsd:enumeration value="Thailand"/>
			<xsd:enumeration value="Timor-Leste"/>
			<xsd:enumeration value="Togo"/>
			<xsd:enumeration value="Tokelau"/>
			<xsd:enumeration value="Tonga"/>
			<xsd:enumeration value="Trinidad and Tobago"/>
			<xsd:enumeration value="Tromelin Island"/>
			<xsd:enumeration value="Tunisia"/>
			<xsd:enumeration value="Turkey"/>
			<xsd:enumeration value="Turkmenistan"/>
			<xsd:enumeration value="Turks and Caicos Islands"/>
			<xsd:enumeration value="Tuvalu"/>
			<xsd:enumeration value="Uganda"/>
			<xsd:enumeration value="Ukraine"/>
			<xsd:enumeration value="United Arab Emirates"/>
			<xsd:enumeration value="United Kingdom"/>
			<xsd:enumeration value="United States"/>
			<xsd:enumeration value="Uruguay"/>
			<xsd:enumeration value="Uzbekistan"/>
			<xsd:enumeration value="Vanuatu"/>
			<xsd:enumeration value="Venezuela"/>
			<xsd:enumeration value="Vietnam"/>
			<xsd:enumeration value="Virgin Islands"/>
			<xsd:enumeration value="Wake Island"/>
			<xsd:enumeration value="Wallis and Futuna"/>
			<xsd:enumeration value="West Bank"/>
			<xsd:enumeration value="Western Sahara"/>
			<xsd:enumeration value="Yemen"/>
			<xsd:enumeration value="Zambia"/>
			<xsd:enumeration value="Zimbabwe"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>