Modules/DCM/Metadata/bw/npv-bw_v5.xsd

<xsd:schema targetNamespace="http://tempuri.org/XMLSchema.xsdd"
		elementFormDefault="qualified"
		xmlns="http://tempuri.org/XMLSchema.xsdd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
<xsd:element name="metadata">
 <xsd:complexType>
  <xsd:sequence>
   <xsd:element name="DatasetInformation" type="datasetInformationType">
    <xsd:annotation>
     <xsd:documentation></xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="EnviromentalInformation" type="environmentalInformationType" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation></xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="TaxonomicCoverage" type="taxonomicCoverageType" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation></xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="SpatialCoverage" type="spatialCoverageType" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation></xsd:documentation>
    </xsd:annotation>
   </xsd:element>
  <xsd:element name="TemporalCoverage" type="temporalCoverageType" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation></xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="AdditionalInformation" type="additionalInformationType" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation></xsd:documentation>
    </xsd:annotation>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
</xsd:element>




<!--*************************************************-->
<!-- Complex Types-->
<!--*************************************************-->
<!-- TOP LEVEL -->
<!--*************************************************-->
<xsd:complexType name="datasetInformationType">
	<xsd:sequence>
		<xsd:element name="Title" minOccurs="1" type="string255">
			<xsd:annotation>
					<xsd:documentation><![CDATA[ <p>Title of the dataset. Contains the taxonomic group, spatial or climate data the dataset comprises, Project and the dataowner.</p> 
																																		<p><b>Example:</b> Birds – Aves – BIOKLIM - Nationalpark Administration Bavarian Forest</p>]]></xsd:documentation>
				</xsd:annotation>
  </xsd:element>
		<xsd:element name="TypeOfData" minOccurs="1" maxOccurs="4" type="typeOfData" >
			<xsd:annotation>
					<xsd:documentation><![CDATA[ <p><b>Taxonomic:</b> The Dataset contains a specific taxonomic group or species information.</p>
                                  <p><b>Spatial:</b> The Dataset contains spatial informations, e.g. coodinates, location, altitude and canopy of the different plots.</p> 
                                  <p><b>Climate:</b> The Dataset contains climate data, e.g. temperature and humidity.</p> 
                                  <p><b>Descriptive:</b> The Dataset gives additional Information about the datasets of the other three data types. E.g. explanations of Variables.</p> 
																																		]]></xsd:documentation>
				</xsd:annotation>
  </xsd:element>
		<xsd:element name="ShortDatasetDescription" minOccurs="1" type="string1024" >
   <xsd:annotation>
					<xsd:documentation>A short abstract about the Dataset, its content and background.</xsd:documentation>
				</xsd:annotation>
  </xsd:element>
  <xsd:element name="DatasetDescription" minOccurs="0" maxOccurs="1" type="string20480" >
   <xsd:annotation>
					<xsd:documentation>Detailed information about the Datasets concerning sampling design, methods, equipment, duration of datacollection and background motivation.</xsd:documentation>
				</xsd:annotation>
  </xsd:element>
		<xsd:element name="Keyword" minOccurs="3" maxOccurs="7" type="xsd:string" >
   <xsd:annotation>
					<xsd:documentation>Keywords describing the Dataset, for better comparison and easier finding of specific data.</xsd:documentation>
				</xsd:annotation>
  </xsd:element>
		<xsd:element name="DataAccessPolicy" minOccurs="1" type="dataAccessPolicyType" >
			<xsd:annotation>
					<xsd:documentation><![CDATA[ <p><b>Restricted:</b> Data access is forbidden, Data are not available for public.</p>
                                  <p><b>Available on Request:</b> Please request the Data by Primary Contact, Datamanager or Data Provider.</p> 
                                  <p><b>Open:</b>Data can be used and downloaded without further permission.</p> 
																																		]]></xsd:documentation>
				</xsd:annotation>
  </xsd:element>
		<xsd:element name="DatasetStatus" minOccurs="0" type="datasetStatusType" >
			<xsd:annotation>
					<xsd:documentation><![CDATA[ <p><b>Curated:</b> Curated dataset is the one which is checked for data quality, integrity, maybe taxonomic names verified, latitude/longitude values are appropriate (error free), the column names are understandable and not coded or confusing etc.</p>
                                  <p><b>Original:</b> Raw data with no processing.</p> 
                                  <p><b>Derived Product:</b>Derived data is the one where the values for the data variables in the datasets are derived using statistical or mathematical processes from multiple data resources.<br/> (E.g. calibrated data, multiple calibrated/statistical data for gap filling; data products combining observations from more than one instrument, observer or sampling area)</p> 
																																		]]></xsd:documentation>
				</xsd:annotation>
  </xsd:element>
		<xsd:element name="AssociatedPerson" minOccurs="1" maxOccurs="unbounded" type="person" />
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="environmentalInformationType">
	<xsd:sequence>
  <xsd:element name="Habitat" minOccurs="1" type="habitatType">
   <xsd:annotation>
					<xsd:documentation>This field contains the natural habitat of the species covered in the Dataset.</xsd:documentation>
				</xsd:annotation>
  </xsd:element>
  <xsd:element name="Biome" minOccurs="0" type="xsd:string">
   <xsd:annotation>
					<xsd:documentation>The biome to which the habitats belongs, e.g. forest, grassland.</xsd:documentation>
				</xsd:annotation>
  </xsd:element>
  <xsd:element name="Remarks" minOccurs="0" type="xsd:string"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="taxonomicCoverageType">
	<xsd:sequence>
  <xsd:element name="Kingdom" minOccurs="0" maxOccurs="5" type="kingdomType">
   <xsd:annotation>
					<xsd:documentation>The Kingdom the taxonomic groups and species are classified in.</xsd:documentation>
				</xsd:annotation>
  </xsd:element>
  <xsd:element name="TaxonGroup" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
   <xsd:annotation>
    <xsd:documentation>
     The taxonomic Group of investigated species.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Remarks" minOccurs="0" type="xsd:string"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="spatialCoverageType">
	<xsd:sequence>
  <xsd:element name="LocalityName" minOccurs="0" type="string255">
   <xsd:annotation>
    <xsd:documentation>
     Name of the locality from which the data are derived.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Latitude" minOccurs="0" type="coordinateType">
   <xsd:annotation>
    <xsd:documentation>
     Latitude of the locality from which the data are derived.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Longitude" minOccurs="0" type="coordinateType">
   <xsd:annotation>
    <xsd:documentation>
     Longitude of the locality from which the data are derived.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="NumberOfPlots" minOccurs="0" type="xsd:integer">
   <xsd:annotation>
    <xsd:documentation>
     The total number of plots the dataset is based on.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Altitude" minOccurs="0" type="xsd:decimal">
   <xsd:annotation>
    <xsd:documentation>
     Elevation in meters of the single plot or the altitudinal gradient the plots are set up.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Depth" minOccurs="0" type="xsd:decimal">
   <xsd:annotation>
    <xsd:documentation>
     The depth below ground a trap is installed or samples were taken in.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Remarks" minOccurs="0" type="xsd:string"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="temporalCoverageType">
	<xsd:sequence>
  <xsd:element name="DateOfFirstRecord" minOccurs="0" type="xsd:string">
   <xsd:annotation>
    <xsd:documentation>
     First date of data collection. This can be a year, a month or a specific date.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateOfLastRecord" minOccurs="0" type="xsd:string">
   <xsd:annotation>
    <xsd:documentation>
     Last date of data collection, or the currently last record by ongoing Projects.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="TemporalResolution" minOccurs="0" maxOccurs="4" type="temporalResolutionType">
   <xsd:annotation>
    <xsd:documentation>
     Times a certain area or plot has been sampled or frequency of observations. This can be weekly, biweekly, monthly or yearly.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Remarks" minOccurs="0" type="xsd:string"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="additionalInformationType">
	<xsd:sequence>
  <xsd:element name="publications" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
   <xsd:annotation>
    <xsd:documentation>
     Related publications that used, analysed or evaluated data from the dataset.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="projects" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
   <xsd:annotation>
    <xsd:documentation>
     Related publications that used, analysed or evaluated data from the dataset.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="AssociatedDatasets" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
  <xsd:element name="Remarks" minOccurs="0" type="xsd:string"/>
  <xsd:element name="HowToCite" minOccurs="0" type="xsd:string"/>
  </xsd:sequence>
</xsd:complexType>

<!--*************************************************-->
<!-- Base Types-->
<!--*************************************************-->

<xsd:complexType name="person">
 <xsd:sequence>
  <xsd:element name="Name" type="string255" >
   <xsd:annotation>
    <xsd:documentation>
     Name of the associated person.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Email" type="email">
   <xsd:annotation>
    <xsd:documentation>
     E-Mail address of the associated person. First method of contact.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Address" type="xsd:string" minOccurs="0">
   <xsd:annotation>
    <xsd:documentation>
     Mail and working address of the associated Person.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="HomepageUrl" type="xsd:string" minOccurs="0">
   <xsd:annotation>
    <xsd:documentation>
     Homepage of the associated person, the Institution or the project.
    </xsd:documentation>
   </xsd:annotation>
  </xsd:element>
  <xsd:element name="Role" type="roleType" maxOccurs="5">
			<xsd:annotation>
					<xsd:documentation><![CDATA[ <b>Role of the associated Person:</b>
                                  <p><b>Data Creator:</b> Person who collected the Data.</p>
                                  <p><b>Data Manager:</b> Person managing the Data.</p> 
                                  <p><b>Data Owner:</b> Holder of the Data.</p> 
                                  <p><b>Primary Contact:</b> First Contact person for questions or Data provision.</p> 
                                  <p><b>Data Provider:</b> Person releasing the data.</p> 
																																		]]></xsd:documentation>
				</xsd:annotation>
  </xsd:element>
 </xsd:sequence>
</xsd:complexType>


<!--*************************************************-->
<!-- SIMPLE TYPES -->
<!--*************************************************-->
<xsd:simpleType name="string255">
 <xsd:restriction base="xsd:string">
   <xsd:minLength value="0"/>
   <xsd:maxLength value="255"/>
 </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string1024">
 <xsd:restriction base="xsd:string">
   <xsd:minLength value="0"/>
   <xsd:maxLength value="1024"/>
 </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="string20480">
 <xsd:restriction base="xsd:string">
   <xsd:minLength value="0"/>
   <xsd:maxLength value="20480"/>
 </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="typeOfData">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Taxonomic" />
		<xsd:enumeration value="Spatial" />
		<xsd:enumeration value="Climate" />
		<xsd:enumeration value="Descriptive" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="dataAccessPolicyType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Restricted" />
		<xsd:enumeration value="Available on Request" />
		<xsd:enumeration value="Open CC-BY-4.0" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="email">
		<xsd:annotation>
			<xsd:documentation>
				Email address
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([a-zA-Z0-9_\-])([a-zA-Z0-9_\-\.]*)@(\[((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}|((([a-zA-Z0-9\-]+)\.)+))([a-zA-Z]{2,}|(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\])"/>
		</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="datasetStatusType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Curated" />
		<xsd:enumeration value="Original" />
		<xsd:enumeration value="Derived Product" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="roleType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Data Creator" />
		<xsd:enumeration value="Data Manager" />
		<xsd:enumeration value="Data Owner" />
		<xsd:enumeration value="Primary Contact" />
		<xsd:enumeration value="Data Provider" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="habitatType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="None" />
		<xsd:enumeration value="Terrestrial" />
		<xsd:enumeration value="Aquatic" />
		<xsd:enumeration value="Both" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="kingdomType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Animalia" />
		<xsd:enumeration value="Plantae" />
		<xsd:enumeration value="Fungi" />
		<xsd:enumeration value="Lichens" />
		<xsd:enumeration value="Microorganisms" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="spatialResolutionType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Point" />
		<xsd:enumeration value="Aggregated" />
		<xsd:enumeration value="Grid" />
		<xsd:enumeration value="Polygons" />
	</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="coordinateSystemType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="WGS 84" />
		<xsd:enumeration value="EPSG:4326" />
		<xsd:enumeration value="ETRS89/UTM zone 32N" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="temporalResolutionType">
	<xsd:restriction base="xsd:string" >
		<xsd:enumeration value="Unknown" />
		<xsd:enumeration value="Quasi continuous less then 1 minute" />
		<xsd:enumeration value="Hour" />
		<xsd:enumeration value="Daily" />
		<xsd:enumeration value="Week" />
		<xsd:enumeration value="Bi-Weekly" />
		<xsd:enumeration value="Month" />
		<xsd:enumeration value="Year" />
		<xsd:enumeration value="Seasonal" />
		<xsd:enumeration value="Every two days" />
		<xsd:enumeration value="Twice a year" />
		<xsd:enumeration value="Two year" />
		<xsd:enumeration value="Three year" />
		<xsd:enumeration value="Five year" />
		<xsd:enumeration value="Decade" />
		<xsd:enumeration value="Twenty year" />
		<xsd:enumeration value="Twenty-five year" />
		<xsd:enumeration value="Fifty year" />
		<xsd:enumeration value="Century" />
		<xsd:enumeration value="Not Relevant" />
		<xsd:enumeration value="Other-Specify" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="coordinateType">
		<xsd:annotation>
			<xsd:documentation>
				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:pattern value="([0-9]{2,3}).([0-9]{1,4})$"/>
		</xsd:restriction>
</xsd:simpleType>

</xsd:schema>